<?xml version="1.0"?>
<launch>
    <arg name="current_pose_topic" default="/pf_localization_node/current_pose"/>

    <include file="$(find rostate_machine)/launch/rostate_machine.launch">
        <arg name="xml_filepath" value="$(find vrx_bringup)/data/navigation_state_machine.xml"/>
        <arg name="dot_filepath" value="$(find vrx_bringup)/data/navigation_state_machine.dot"/>
        <arg name="state_machine_name" value="navigation_state_machine"/>
    </include>

    <include file="$(find rostate_machine)/launch/rostate_machine.launch">
        <arg name="xml_filepath" value="$(find vrx_bringup)/data/mission_state_machine.xml"/>
        <arg name="dot_filepath" value="$(find vrx_bringup)/data/mission_state_machine.dot"/>
        <arg name="state_machine_name" value="mission_state_machine"/>
    </include>

    <include file="$(find rostate_machine)/launch/rostate_machine.launch">
        <arg name="xml_filepath" value="$(find vrx_bringup)/data/control_state_machine.xml"/>
        <arg name="dot_filepath" value="$(find vrx_bringup)/data/control_state_machine.dot"/>
        <arg name="state_machine_name" value="control_state_machine"/>
    </include>

    <include file="$(find waypoint_server)/launch/waypoint_server.launch">
        <arg name="current_pose_topic" default="$(arg current_pose_topic)"/>
    </include>

    <include file="$(find robotx_task_planner)/launch/robotx_task_planner.launch">
    </include>

    <include file="$(find linear_interpolation_planner)/launch/linear_interpolation_planner.launch">
        <arg name="split_length" default="3.0"/>
        <arg name="input_topic" default="/waypoint_server_node/target_waypoint"/>
    </include>

    <include file="$(find dwa_planner)/launch/dwa_planner.launch">
        <arg name="path_topic" default="/linear_interpolation_planner_node/path"/>
        <arg name="twist_stamped_topic" default="/pf_localization_node/current_twist/smoothed"/>
        <arg name="twist_cmd_topic" default="/target_twist"/>
    </include>
</launch>