<?xml version="1.0"?>
<launch>
<!--
    <include file="$(find object_rect_image_saver)/launch/object_rect_image_saver.launch">
        <arg name="image_topic" default="/left_camera/image_raw"/>
        <arg name="rect_topic" default="/left_camera/jsk/bboxs_rects"/>
        <arg name="save_prefix" default="left_camera"/>
        <arg name="node_name" value="left_camera_object_rect_image_saver_node"/>
    </include>
-->
    <include file="$(find object_rect_image_saver)/launch/object_rect_image_saver.launch">
        <arg name="image_topic" default="/middle_camera/image_raw"/>
        <arg name="rect_topic" default="/middle_camera/jsk/bboxs_rects"/>
        <arg name="save_prefix" default="middle_camera"/>
        <arg name="node_name" value="middle_camera_object_rect_image_saver_node"/>
    </include>
<!--
    <include file="$(find object_rect_image_saver)/launch/object_rect_image_saver.launch">
        <arg name="image_topic" default="/right_camera/image_raw"/>
        <arg name="rect_topic" default="/right_camera/jsk/bboxs_rects"/>
        <arg name="save_prefix" default="right_camera"/>
        <arg name="node_name" value="right_camera_object_rect_image_saver_node"/>
    </include>
-->
</launch>