<?xml version="1.0"?>
<launch>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" respawn="true" respawn_delay="0">
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" respawn="true" respawn_delay="0">
    </node>
</launch>