<?xml version="1.0"?>
<launch>
    <arg name="control_command_topic" default="control_command"/>
    <arg name="manual_command_topic" default="manual_command"/>
    <arg name="motor_command_topic" default="motor_command"/>
    <arg name="current_twist_topic" default="/pf_localization_node/current_twist/smoothed"/>
    <arg name="target_twist_topic" default="target_twist"/>
    <arg name="use_gazebo" default="true"/>
    <arg name="use_hardware" default="false"/>
    <arg name="output_rate" default="30.0"/>
    <arg name="use_dualshock4" default="true"/>
    <arg name="reset_command_topic" default="/control_command_selector_node/reset"/>

    <include file="$(find robotx_control)/launch/diff_drive_controller.launch">
        <arg name="control_command_topic" value="$(arg control_command_topic)"/>
        <arg name="current_twist_topic" value="$(arg current_twist_topic)"/>
        <arg name="target_twist_topic" value="$(arg target_twist_topic)"/>
        <arg name="reset_command_topic" value="$(arg reset_command_topic)"/>
    </include>

    <include file="$(find control_command_selector)/launch/control_command_selector.launch">
        <arg name="control_command_topic" value="$(arg control_command_topic)"/>
        <arg name="manual_command_topic" value="$(arg manual_command_topic)"/>
        <arg name="motor_command_topic" value="$(arg motor_command_topic)"/>
    </include>

    <include file="$(find robotx_hardware_interface)/launch/hardware_interface.launch">
        <arg name="use_gazebo" value="$(arg use_gazebo)"/>
        <arg name="use_hardware" value="$(arg use_hardware)"/>
        <arg name="output_rate" value="$(arg output_rate)"/>
    </include>

    <include file="$(find robotx_joy_control)/launch/robotx_joy_control.launch">
        <arg name="use_dualshock4" value="$(arg use_dualshock4)"/>
    </include>

</launch>