<?xml version="1.0"?>
<launch>
    <!-- args -->
    <arg name="world_frame" default="earth"/>
    <arg name="map_frame" default="map"/>
    <arg name="fix_topic" default="/gps/fix"/>
    
    <!-- Particle Filter Localizer -->
    <include file="$(find pf_localization)/launch/pf_localization.launch">
    </include>

    <!-- Geographic Conversion -->
    <include file="$(find geographic_conversion)/launch/geographic_conversion.launch">
        <arg name="fix_topic" default="$(arg fix_topic)"/>
        <arg name="map_frame" default="$(arg map_frame)"/>
    </include>

    <!-- World to Map Frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 $(arg world_frame) $(arg map_frame)" />
</launch>