<?xml version="1.0"?>
<launch>
    <arg name="bbox_topic" default="/pointcloud_processing/cluster_indices_decomposer/boxes"/>

    <!-- Info Server -->
    <include file="$(find vision_info_server)/launch/vision_info_server.launch">
        <arg name="xml_path" default="$(find vrx_bringup)/config/objects.xml"/>
    </include>

    <!-- Localization -->
    <include file="$(find vrx_bringup)/launch/perception/localization.launch" />

    <!-- Pointcloud Processing -->
    <group ns="pointcloud_processing">
        <include file="$(find vrx_bringup)/launch/perception/pointcloud_processing.launch" />
    </group>

    <!-- Costmap Calculation -->
    <include file="$(find robotx_costmap_calculator)/launch/robotx_costmap_calculator.launch">
        <arg name="output_topic" value="grid_map"/>
        <arg name="points_raw_topic" value="/pointcloud_processing/points_raw"/>
    </include>

    <!-- Image Processing -->
    <group ns="left_camera">
        <include file="$(find vrx_bringup)/launch/perception/image_processing.launch">
            <arg name="camera_info_topic" default="camera_info"/>
            <arg name="bbox_topic" default="$(arg bbox_topic)"/>
            <arg name="image_topic" value="/left_camera/image_raw"/>
        </include>
    </group>

    <group ns="right_camera">
        <include file="$(find vrx_bringup)/launch/perception/image_processing.launch">
            <arg name="camera_info_topic" default="camera_info"/>
            <arg name="bbox_topic" default="$(arg bbox_topic)"/>
            <arg name="image_topic" value="/right_camera/image_raw"/>
        </include>
    </group>

    <group ns="middle_camera">
        <include file="$(find vrx_bringup)/launch/perception/image_processing.launch">
            <arg name="camera_info_topic" default="camera_info"/>
            <arg name="bbox_topic" default="$(arg bbox_topic)"/>
            <arg name="image_topic" value="/middle_camera/image_raw"/>
        </include>
    </group>
</launch>