<?xml version="1.0"?>
<launch>
    <!-- Simulation -->
    <include file="$(find vrx_bringup)/launch/simulation/simulation.launch"/>

    <!-- Robot -->
    <include file="$(find vrx_bringup)/launch/robot/robot.launch"/>

    <!-- Control -->
    <include file="$(find vrx_bringup)/launch/control/control.launch"/>

    <!-- Planning -->
    <include file="$(find vrx_bringup)/launch/planning/planning.launch"/>

    <!-- Perception -->
    <include file="$(find vrx_bringup)/launch/perception/perception.launch" />

    <!-- Visualization -->
    <include file="$(find vrx_bringup)/launch/visualization/visualization.launch" />

    <!-- Tools -->
    <!--<include file="$(find vrx_bringup)/launch/tools/tools.launch" />-->
</launch>